<ion-view>
  <ion-header-bar align-title="center" class="bar-energized">
    <h1 class="title">Liste Hotels</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <a ng-repeat="hotel in hotels"
         type="item-text-wrap"
         class="hotelPicture" ui-sref='nav-hotel.hotel({hotel: hotel.id})'>
         <img src="img/hotels/{{hotel.photo}}" />
         <h2>{{hotel.title}}</h2>
        </a>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-energized">
  </ion-footer-bar>
</ion-view>
